{# src/Administration/AdminBundle/Resources/views/newsAdmin.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	Gestion News
{% endblock %}

{% block body %}
<div class="container whiteBloc">
  <div class="row ajouter">
    <a href="{{path('administrator_news_ajout')}}">
      <button type="button" class="btn btn-default btn-lg btn-success">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter
      </button>
    </a>
  </div>
  <div class="row recette">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
      <strong> Photo </strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <strong> Titre </strong>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <strong> Date Création </strong>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
      <strong> Visible </strong>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <strong> Fonction </strong>
    </div><br/>
  </div>
    {% for new in news %}
    <div class="row recette">
      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
        <img src="{{asset('images/' ~ new.photo)}}" alt="{{new.titre}}" class="imgRecette"/>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        {{new.titre|capitalize}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        {{new.date|date("d/m/Y")}}
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6">
        {% if new.visible %} Oui {% else %} Non {% endif %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="btn-group" role="group">
          <button onclick="entier('{{new.id}}')" type="button" class="btn btn-default btn-md btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir
          </button>
          <a class="btn btn-default btn-md btn-warning" role="button" href="{{path('administrator_news_modif', {'id' : new.id}) }}">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Modifier
          </a>
          <a class="btn btn-default btn-md btn-danger" role="button" href="{{path('administrator_news_supp', {'id' : new.id}) }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
          </a>
        </div>
      </div><br/>
    </div>

    {% endfor %}<br/>
    <div class="center" >
      <a href="{{path('goadministrator_administration')}}" id="form_annuler"> Retour </a>
    </div><br/><br/>

</div>

  {% for new in news %}
    <div id="{{new.id}}" class="recetteEntiere row">
      <img class="fermer" onclick="fermer('{{new.id}}')"
      src="{{ asset('bundles/accueilaccueil/images/close.png')}}"
      alt="fermer la fenetre"/>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h1 style="color: {{new.colorT}};"> {{new.titre}} </h1>
        <strong> Description:</strong><span style="color: {{new.colorC}};"> {{ new.descr }} </span><br/>
        <strong> Date de création:</strong> {{ new.date|date("d/m/Y") }} <br/>
        <strong> Visible? </strong> {% if new.visible %} Oui {% else %} Non {% endif %} <br/>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img class="imgRecette"
          src="{{ asset('images/' ~ new.photo)}}"
          alt="{{new.titre}}"/>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
<script>
function entier(id) {
  document.getElementById(id).style.display = "block";
}

function fermer(id) {
  document.getElementById(id).style.display = "none";
}
</script>
{% endblock %}
