{# src/Accueil/AccueilBundle/Resources/views/histoire.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Accueil.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Notre Histoire
{% endblock %}

{% block body %}
  <div class="container">
    <div class="carte gauche one">
      <img src="{{ asset('bundles/accueilaccueil/images/gratincourgette.jpg')}}" class="imgHistoire" alt="Gratin de courgette"/>
      <p>
        Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla
      </p>
    </div>
    <div class="carte droite">
      <img src="{{ asset('bundles/accueilaccueil/images/gratincourgette.jpg')}}" class="imgHistoire" alt="Gratin de courgette"/>
      <p>
        Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla
      </p>
    </div>
    <div class="carte gauche">
      <img src="{{ asset('bundles/accueilaccueil/images/gratincourgette.jpg')}}" class="imgHistoire" alt="Gratin de courgette"/>
      <p>
        Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla
      </p>
    </div>
    <div class="carte droite">
      <img src="{{ asset('bundles/accueilaccueil/images/gratincourgette.jpg')}}" class="imgHistoire" alt="Gratin de courgette"/>
      <p>
        Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla Blabla bla bla bla bla bla! bla bla
      </p>
    </div>
  </div>
{% endblock %}
