{# src/Accueil/AccueilBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Accueil.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/accueilaccueil/slider/responsiveslides.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <!--
    A besoin:
      Les news en entier
  -->

  <div class="container blocContainer" id="all">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="texte">
          <span class="soustitre">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            En ce moment...
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
          </span><br/>

          <!-- Slider -->
          <ul class="rslides">
            {% for n in news %}
              {% if loop.index is odd %}
              <li>
                <div class="article">
                  <figure class="imgGauche">
                    <img src="{{ asset('images/' ~ n.photo)}}" class="imgRecette" alt="{{n.titre}}"/>
                  </figure>
                  <span class="soustitre" style="color: {{n.colorT}};">{{n.titre}}</span><br/>
                  <div onclick="news({{n.id}})" class="troispoints">Voir la news en entier...</div>
                  <div style="padding-left: 50%; color: {{n.colorC}};">{{n.descr}}</div>
                </div>
              </li>
              {% else %}
              <li>
                <div class="article">
                  <figure class="imgDroite">
                    <img src="{{ asset('images/' ~ n.photo)}}" class="imgRecette" alt="{{n.titre}}"/>
                  </figure>
                  <span class="soustitre" style="color: {{n.colorT}};">{{n.titre}}</span><br/>
                  <div onclick="news({{n.id}})" class="troispoints">Voir la news en entier...</div>
                  <div style="padding-right: 50%; color: {{n.colorC}};">{{n.descr}}</div>
                </div>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="recette texte">
          <span class="soustitre">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            Laissez-vous tenter!
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          </span>
          <p><br/>
            {% if recette != null %}
              <figure class="figRec">
                <img src="{{ asset('images/' ~ recette.photo)}}" class="imgRecette" alt="{{recette.nom}}"/>
                <figcaption><a href="{{path('boutique_galerie_recette', {'idRecette' : recette.id })}}">Faites votre marché pour cette recette!</a></figcaption>
              </figure>
              <span class="soustitre">
                {{recette.nom|capitalize}}
              </span>
              <div onclick="news('rec')" class="troispoints">Voir la recette en entier...</div>
              <div style="width: 50%;">
              <p> Temps de préparation : {{recette.tpsPrep}}<br/>
                  Temps de cuisson :     {{recette.tpsCuisson}}</p>

              <p>
                <a href="{{path('boutique_galerie_recette', {'idRecette' : recette.id })}}">Ingrédients :</a> <br/>
                {% for ing in ingredients %}
                  - {{ ing.nom|capitalize}}: {{ing.quantite}}<br/>
                {% endfor %}
              </p>
              <p>
                Préparation de la recette :<br/>
                {{ recette.preparation|nl2br }}
              </p>
            </div>
              <p class="bandeblanche">
                V
              </p>
              {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- News en entier -->
  {% for n in news %}
    {% if loop.index is odd %}
    <div id="{{n.id}}" class="newsEntier">
      <div class="article">
        <div class="fermer" onclick="fermer({{n.id}})">
          <img src="{{ asset('bundles/accueilaccueil/images/close.png')}}" alt="fermer la fenetre"/>
        </div>
        <figure class="imgGaucheD">
          <img src="{{ asset('images/' ~ n.photo)}}" class="imgRecette" alt="{{n.titre}}"/>
        </figure>
        <span class="soustitre" style="color: {{n.colorT}};">{{n.titre}}</span><br/>
        <div onclick="news({{n.id}})" class="troispoints">Voir la news en entier...</div>
        <span style="color: {{n.colorC}};">{{n.descr}}</span>
      </div>
    </div>
    {% else %}
    <div id="{{n.id}}" class="newsEntier">
      <div class="article">
        <div class="fermer" onclick="fermer({{n.id}})">
          <img src="{{ asset('bundles/accueilaccueil/images/close.png')}}" alt="fermer la fenetre"/>
        </div>
        <figure class="imgDroiteD">
          <img src="{{ asset('images/' ~ n.photo)}}" class="imgRecette" alt="{{n.titre}}"/>
        </figure>
        <span class="soustitre">{{n.titre}}</span><br/>
        <div onclick="news({{n.id}})" class="troispoints">Voir la news en entier...</div>
        {{n.descr}}
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <!-- Recette en entier -->
  <div id="rec" class="newsEntier">
    {% if recette != null %}

    <div class="fermer">
      <img  onclick="imprimer()" src="{{ asset('bundles/accueilaccueil/images/print.png')}}" alt="imprimer la recette"/>
      <img onclick="fermer('rec')" src="{{ asset('bundles/accueilaccueil/images/close.png')}}" alt="fermer la fenetre"/>
    </div>
    <span class="soustitre">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      Laissez-vous tenter!
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    </span>
    <p><br/>
      <figure class="figRecD">
        <img src="{{ asset('images/' ~ recette.photo)}}" class="imgRecette" alt="{{recette.nom}}"/>
        <figcaption><a href="{{path('boutique_galerie_recette', {'idRecette' : recette.id })}}">Faites votre marché pour cette recette!</a></figcaption>
      </figure>
      <span class="soustitre">
        {{recette.nom|capitalize}}
      </span>

      <p> Temps de préparation : {{recette.tpsPrep}}<br/>
          Temps de cuisson :     {{recette.tpsCuisson}}</p>

      <p>
        <a href="{{path('boutique_galerie_recette', {'idRecette' : recette.id })}}">Ingrédients :</a> <br/>
        {% for ing in ingredients %}
          - {{ ing.nom|capitalize}}: {{ing.quantite}}<br/>
        {% endfor %}
      </p>
      <p>
        Préparation de la recette :<br/>
        {{ recette.preparation|nl2br }}
      </p>
    </p>
    {% endif %}
  </div>

{% endblock %}

{% block js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="{{ asset('bundles/accueilaccueil/slider/responsiveslides.min.js')}}"></script>
  <script>
    $(function() {
      $(".rslides").responsiveSlides({
        pager: true,
        pause: true,
        prevText: "Précédent",
        nextText: "Suivant"
      });
    });

    function news(id) {
      document.getElementById(id).style.display = "block";
    }

    function fermer(id) {
      document.getElementById(id).style.display = "none";
    }

    function imprimer(){
      document.getElementById('all').style.display = "none";
      document.getElementById('footer').style.display = "none";
      document.getElementById('entete').style.display = "none";
      window.print();
      document.getElementById('all').style.display = "block";
      document.getElementById('footer').style.display = "block";
      document.getElementById('entete').style.display = "block";
    }
  </script>
{% endblock %}
