{# src/Boutique/Galerie/Resources/views/articlesRecette.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/boutiquearticle/css/Boutique.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Panier Recette
{% endblock %}

{% block body %}
<div class="container whiteBloc">
  <div class="galerie" style="display: block;">
    {% for ing in ingredients %}
      {% if ing.article != null %}
    <div class="row article">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <!-- Photo -->
        <img src="{{ asset('images/' ~ ing.article.photos)}}" class="imgArticle" alt="{{ ing.article.nom }}"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 descriptionArticle">
        <!-- Nom-->
        <span class="titreArticle"> {{ ing.article.nom }} </span><br/>
        <!-- Recommandation -->
        <span class="recommandation"> {{ ing.article.recommandation }} </span><br/>
        <!-- Description -->
        {{ ing.article.descr }}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 prix">
        <!-- Prix -->
        <span class="prixArticle"> {{ ing.article.prix }} </span><br/>
        <!-- Quantité pour prix -->
        {{ ing.article.qtiteVente }}
        <!-- Formulaire Quantité -->
        <br/>
        <div class="input-group centrer">
          <input type="number" class="form-control" min="1" max="{{ ing.article.commandeMax }}" value="1" aria-label="Amount (to the nearest dollar)">
        </div><br/>
        <button type="button" class="btn btn-default btn-md btn-danger">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au Panier
        </button>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
