{# src/Boutique/GalerieBundle/Resources/views/categorie.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/boutiquearticle/css/Boutique.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Bienvenue dans notre Boutique!
{% endblock %}

{% block body %}
  <div class="container whiteBloc">
    <!-- En ce moment -->
    <div class="profitez">
      <span class="titreProfitez"> Profitez-en! </span>
      <!-- SLIDER d'article -->
    </div>
    <!-- Categories des articles -->
    <div class="row categories">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <figure class="categorie">
            <!-- Cette page servira aux categories et a la gallery d'article -->
            <!-- le "a href" sert a soit revenir sur cette page avec les articles -->
            <!-- Soit a aller vers un article -->
            <a href="#" class="aCat">
              <img src="{{ asset('bundles/boutiquearticle/images/tomatesrondes.jpg')}}" class="imgCat" alt="Gratin de courgette"/>
              <figcaption> Tomates </figcaption>
            </a>
          </figure>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <figure class="categorie">
            <a href="#" class="aCat">
              <img src="{{ asset('bundles/boutiquearticle/images/tomatesrondes.jpg')}}" class="imgCat" alt="Gratin de courgette"/>
              <figcaption> Tomates </figcaption>
            </a>
          </figure>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <figure class="categorie">
            <a href="#" class="aCat">
              <img src="{{ asset('bundles/boutiquearticle/images/tomatesrondes.jpg')}}" class="imgCat" alt="Gratin de courgette"/>
              <figcaption> Tomates </figcaption>
            </a>
          </figure>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <figure class="categorie">
            <a href="#" class="aCat">
              <img src="{{ asset('bundles/boutiquearticle/images/tomatesrondes.jpg')}}" class="imgCat" alt="Gratin de courgette"/>
              <figcaption> Tomates </figcaption>
            </a>
          </figure>
      </div>
    </div>
  </div>
{% endblock %}
