{# src/Boutique/GalerieBundle/Resources/views/panier.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/boutiquearticle/css/Boutique.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Votre panier
{% endblock %}

{% block body %}
  <div class="container whiteBloc">
    <div class="row blocPanier titreCasier">
      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
        Image
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        Article
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
        Prix Unitaire
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        Quantité
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        Prix
      </div>
    </div>

    <!-- Article -->
    {% set total = 0 %}
    {% set pan = "" %}
    {% for art in articles %}
      <div class="row blocPanier">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
          <img src="{{ asset('images/' ~ art.0.photos)}}" class="imgCasier" alt="{{art.0.nom}}"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs justify">
          <br/>
          <span class="titre"> {{art.0.nom}} </span><br/>
          {{art.0.descr}}<br/>

        </div>
        <div class="hidden-lg hidden-md hidden-sm col-xs-4 justify">
          <span class="titre"> {{art.0.nom}} </span><br/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
          <br/>
          {{art.0.prix}} € <br/> par {{art.0.qtiteVente}}
        </div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
          <br/>
        <form action="{{path('boutique_galerie_actupanier')}}" method="POST">
          <div class="input-group centrer">
            <input type="hidden" name="id" value="{{art.0.id}}"/>
            <input type="number" name="quantite" class="form-control" min="1"
              max="{% if art.0.qtiteStock > art.0.commandeMax %}{{art.0.commandeMax}}
                    {% else %} {{art.0.qtiteStock}} {% endif %}" value="{{art.1}}" aria-label="Amount (to the nearest dollar)">          </div><br/>
          <button type="submit" class="btn btn-default btn-sm btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Actualiser
          </button>
        </form>
      </div>
        <div class="hidden-lg hidden-md col-sm-2 col-xs-5">
          <br/>
          <form action="{{path('boutique_galerie_actupanier')}}" method="POST">
            <div class="input-group centrer">
              <input type="hidden" name="id" value="{{art.0.id}}"/>
              <input type="number" name="quantite" class="form-control" min="1"
                max="{% if art.0.qtiteStock > art.0.commandeMax %}{{art.0.commandeMax}}
                      {% else %} {{art.0.qtiteStock}} {% endif %}" value="{{art.1}}" aria-label="Amount (to the nearest dollar)">          </div><br/>
            <button type="submit" class="btn btn-default btn-sm btn-warning">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
          </form>
        </div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
          <br/>
          <!-- Calcul du resultat par twig -->
           <span class="titre" style="color:red;"> {{ art.0.prix * art.1}} € </span> <br/>
          <a href="{{path('boutique_galerie_suppanier', {'id' : art.0.id})}}" type="button" class="btn btn-default btn-sm btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
          </a>
        </div>
        <div class="hidden-lg hidden-md col-sm-2 col-xs-3">
          <br/>
          <!-- Calcul du resultat par twig -->
           <span class="titre" style="color:red;"> {{ art.0.prix * art.1}} € </span> <br/>
          <button type="button" class="btn btn-default btn-sm btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      {% set total = total +  art.0.prix * art.1 %}
      {% set pan = pan ~ art.0.id ~ ':' ~ art.1 ~ ';' %}
    {% endfor %}

    <!-- Resultats -->
    <div class="row blocPanier">
      <div class="col-lg-9 col-md-9 col-sm-0 col-xs-0">
        <label> Une remarque? Une précision? </label><br/>
        <textarea class="textarea" name="remarque"></textarea>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        Total:
        <h1>{{ total }} €</h1>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-0 col-xs-0">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <a role="button" class="btn btn-default btn-md btn-info" href="{{path('boutique_galerie_validepanier', {'panier': pan})}}">
          Valider la commande
        </a>
      </div>
    </div><br/><br/>
  </div>
{% endblock %}
