{# src/Boutique/GalerieBundle/Resources/views/panier.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/boutiquearticle/css/Boutique.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Votre Marché
{% endblock %}

{% block body %}
  <div class="container whiteBloc marche">
    <h1> Choisir mon Marché! </h1>
    <form action="{{path('boutique_galerie_validemarche')}}" method="POST">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="blocM">
            <h1> Choisir mon marché: </h1>
            {% for m in marches %}
              <input onclick="voir('{{m.id}}');" {% if loop.first %} checked {% endif %}type="radio" name="marche" value="{{m.id}}"/> Marché de {{m.lieu}}, le {{m.jourSemaine}} <br/>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="blocM">
            {% for m in marches %}
              <div id="{{m.id}}" {% if not loop.first %}style="display: none;" {% endif %}>
                <h1> Le marché de {{m.lieu}} </h1>
                Le marché de {{m.lieu}} a lieu tous les {{m.jourSemaine}}. <br/>
                {{m.info}}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <input type="hidden" name="panier" value="{{panier}}"/>
      <input type="hidden" name="remarque" value="{{remarque}}"/>
      <input type="hidden" name="total" value="{{total}}"/>
      <div class="grpB">
        <input type="submit" name="valider" value="Valider ma Commande" class="bouuton green"/>
        <a href="{{path('boutique_galerie_panier')}}" class="bouuton orange">Retour</a>
      </div>
      <br/>
    </form>
  </div>
{% endblock %}

{% block js %}
<script>
  function voir(id){
    {% for m in marches %}
      document.getElementById("{{m.id}}").style.display = "none";
    {% endfor %}
      document.getElementById(id).style.display = "block";
  }
</script>
{% endblock %}
