{# src/Administration/AdminBundle/Resources/views/recetteModif.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	Modifier Recette
{% endblock %}

{% block body %}
<form action="{{path('administration_admin_modifierbisRecette', {'id': recette.id})}}" method="POST" enctype="multipart/form-data">
  <div class="container blocContainer">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="interne">
          <h1> Modifier la recette "{{recette.nom}}"</h1>
            <label> Nom: </label><input type="text" value="{{recette.nom}}" name="nom"/><br/>
            <label> Temps de préparation: </label><input name="tpsPrep" type="text" value="{{recette.tpsPrep}}"/><br/>
            <label> Temps de Cuisson: </label><input name="tpsCuisson" type="text" value="{{recette.tpsCuisson}}"/><br/>
            <label> En page d'accueil? </label>
            <input class="radio" {% if recette.visible %} checked {% endif %}type="radio" name="visible" value="oui"> Oui
            <input class="radio" {% if not recette.visible %} checked {% endif %}type="radio" name="visible" value="non"> Non <br/>

            <br/><label> Préparation: </label><br/>
            <textarea name="preparation">{{recette.preparation}}</textarea><br/><br/>

            <label> Photo: </label>
            <img class="imgRecetteM" src="{{asset('images/' ~ recette.photo)}}" alt="{{recette.nom}}"/>
            <br/><br/>
            <label> Modifier la photo: </label><input type="file" name="photo" id="form_photo"/>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="interne">

          <h1>Ingrédients: </h1>
          {% for ing in ingredients %}
            <h4>{{loop.index}}</h4>
            <label> Nom: </label><input type="text" value="{{ing.nom}}" name="nom{{ing.id}}"/><br/>
            <label> Quantité: </label><input type="text" value="{{ing.quantite}}" name="quantite{{ing.id}}"/><br/>
            <label> Article lié: </label>
            <select name="choix{{ing.id}}">
              <option value="null" {% if ing.article == NULL %} selected {% endif %}> Aucun </option>
              {% for art in articles %}
                <option value="{{art.id}}"
                  {% if ing.article != null %}
                    {% if ing.article.id == art.id %} selected {% endif %}
                  {% endif %}>{{art.nom}}</option>
              {% endfor %}
            </select>
          {% endfor %}<br/><br/>
          <a href="{{path('administration_admin_ajoutIngredient', {'id' : recette.id})}}">
            <button type="button" class="btn btn-default btn-lg btn-success">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter
            </button>
          </a>

        </div>
      </div>
    </div>
    <input type="submit" name="valider" value="Modifier" id="form_suivant" class="bouton"/>
    <a href="{{path('administrator_administration_admin_gerer_Recettes')}}" id="form_annuler"> Retour </a>

  </div>

</form>
{% endblock %}
