{# src/Administration/AdminBundle/Resources/views/recetteIngredients.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	Ajout Ingrédients
{% endblock %}

{% block body %}
<div class="container whiteBloc">
  <div class="row recette">
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-6">
      <strong>Nom</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <strong>Quantité</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <strong>Article lié</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

    </div>
    <br/>
    <br/>
    {% for ing in ingredients %}
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-6">
      {{ing.nom}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      {{ing.quantite}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      {% if ing.article == NULL %}
        Aucun
      {% else %}
        {{ing.article.nom}}
      {% endif %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="{{path('administration_admin_supprimerIngredient', {'id' : ing.id })}}">
        <button type="button" class="btn btn-default btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
        </button>
      </a>
    </div>
    <br/>
    <br/>
  {% endfor %}
  </div>

  <div class="inIng">
    <a href="{{path('administrator_administration_admin_gerer_Recettes')}}"> J'ai fini! </a>

      <br/><br/><br/>
    <h1> Ajoutez un nouvel Ingrédient </h1>
    {{ form_start(form) }}
      {{ form_label(form.nom, 'Nom:', {'label_attr': {'class': 'foo'}}) }}
      {{ form_widget(form.nom, {'attr': {'class': 'foo'}}) }}
      {{ form_errors(form.nom) }} <br/>
      {{ form_label(form.quantite, 'Quantité:', {'label_attr': {'class': 'foo'}}) }}
      {{ form_widget(form.quantite, {'attr': {'class': 'foo'}}) }}
      {{ form_errors(form.quantite) }} <br/>
      {{ form_label(form.article, 'Articles liés:', {'label_attr': {'class': 'foo'}}) }}
      {{ form_widget(form.article, {'attr': {'class': 'foo'}}) }}
      {{ form_errors(form.article) }} <br/>
      {{ form_widget(form.ajouter, {'label': 'Ajouter'}) }}
      {{ form_widget(form.annuler, {'label': 'Annuler'}) }}
    {{ form_end(form) }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
