{# src/Administrator/Adminstration/AdminBundle/Resources/views/produits.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Ajout Produits à la catégorie {{ cat.nom }}
{% endblock %}

{% block body %}
<div class="login">
  <h1> Ajoutez un nouveau produit dans {{cat.nom}} !</h1>
  {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice" style="color: red;">
            {{ flashMessage }}
        </div>
    {% endfor %}
  {{ form_start(form) }}
    {{ form_label(form.nom, 'Nom:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.nom, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.nom) }} <br/><br/>
    {{ form_label(form.recommandation, 'Recommandation:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.recommandation, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.recommandation) }} <br/><br/>
    {{ form_label(form.qtiteVente, 'Quantité pour une unité:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.qtiteVente, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.qtiteVente) }} <br/><br/>
    {{ form_label(form.qtiteStock, 'Stock disponible:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.qtiteStock, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.qtiteStock) }} <br/><br/>
    {{ form_label(form.commandeMax, 'Nombre max par commande:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.commandeMax, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.commandeMax) }} <br/><br/>
    {{ form_label(form.prix, 'Prix:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.prix, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.prix) }} <br/><br/>
    {{ form_label(form.bonplan, 'Bon plan?', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.bonplan, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.bonplan) }} <br/><br/>
    {{ form_label(form.photos, 'Photo:', {'label_attr': {'class': 'foo'}}) }}
    {{ form_widget(form.photos, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.photos) }} <br/>
    {{ form_label(form.descr, 'Description:', {'label_attr': {'class': 'foo'}}) }}
    <br/>{{ form_widget(form.descr, {'attr': {'class': 'foo'}}) }}
    {{ form_errors(form.descr) }} <br/>
    {{ form_widget(form.suivant, {'label': 'Ajouter'}) }}
    {{ form_widget(form.annuler, {'label': 'Annuler'}) }}
    <a href="{{path('administrator_base_article', {'id': cat.id})}}" id="form_retour"> Retour </a>
  {{ form_end(form) }}


</div>
{% endblock %}
