{# src/Administrator/Adminstration/AdminBundle/Resources/views/pagePrincAdmin.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	Gerer page histoire
{% endblock %}

{% block body %}
<div class="container whiteBloc">
	<div class="center">
	  <h1>Gestion de la page histoire </h1>
	   	{% for flashMessage in app.session.flashbag.get('notice') %}
	        <div class="flash-notice">
	            {{ flashMessage }}
	        </div>
	    {% endfor %}
	    <div class="row histoire">
	    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        	  <strong> id </strong>
        	</div>
        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        	  <strong> Titre </strong>
        	</div>
        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          		<strong> Contenu </strong>
        	</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <strong> Lien Image </strong>
            </div>
        </div>

        {% for article in listHistoire %}
        	<div class="row histoire">
        		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            		{{ article.id|capitalize }}
          		</div>
          		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        	  		{{ article.titre|capitalize }}
        		</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    {{ article.contenu }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    {{ article.lienPhoto }}
                </div>
        	</div>
        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            	<div class="btn-group" role="group">
            	  	<form action="{{ path('administrator_administration_admin_quoiFaireHistoire') 	}}" 	method="post">
            	  	  	<button  name="modif" value="Modif" onClick="buttonSelected(this,{{ article.id 	}})	" 	class="btn btn-default btn-md btn-warning" type="submit">
            	  	  	  	<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Modifier
            	  	  	</button>
            	  	  	<button  name="suppr" value="Suppr" onClick="buttonSelected(this,{{ article.id 	}})	" 	class="btn btn-default btn-md btn-danger" type="submit">
            	  	  	  	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
            	  	  	</button>
            	  	  	<input type="hidden" name="articleId" id="articleId" value="">
            	  	  	<input type="hidden" name="buttonId" id="buttonId" value="">
            	  	</form>
            	</div>
          </div>
        {% endfor %}
        <br/><br/>
    	<form action="{{ path('administrator_administration_admin_ajouterHistoire') }}" method="post">
    		<button  name="ajout" value="Ajout"	class="btn btn-default btn-md btn-warning" type="submit"> Ajouter une histoire </button>
    	</form>
	</div>
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">

		function buttonSelected(buttonId,articleId){
    	  document.getElementById("buttonId").value = buttonId.value;
    	  document.getElementById("articleId").value = articleId;
    	}

  	</script>
{% endblock %}
