{# src/Administrator/Adminstration/AdminBundle/Resources/views/pagePrincAdmin.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  
{% endblock %}

{% block title %}
	page d'administration
{% endblock %}

{% block body %}
<H1>Bienvenue sur la page d'administration du site </H1>
<div class="gerer produits">
    <div class="liste des choix">

    	<a href="{{ path('administrator_administration_admin_suiv_comm') }}" class="suivitComm"> Suivit des commandes <a/>
    	<br> 
        <a href="{{ path('administrator_administration_admin_gererProduits') }}" class="gererLesProduits"> Gèrer mes produits <a/>
        <br> 
        <a href="{{ path('administrator_administration_admin_gererTheCategories') }}"  class="gererCategories"> Gèrer mes catégories de légumes <a/>
        <br> 
        <a href="{{ path('administrator_administration_admin_gerer_News') }}" class="gererNews"> Gèrer les News <a/>
        <br> 
        <a href="{{ path('administrator_administration_admin_gerer_Recettes') }}" class="gererRecettes"> Gèrer les Recettes <a/>
        <br> 
        <a href="{{ path('administrator_administration_admin_gerer_Clients') }}" class="gererClients"> Gèrer les Coordonnées Clients <a/> 
    </div>
</div>
<br> 
<div id="caché c un memo" style="visibility:hidden;">
-> gerer mes produits 
		<br> 
		rechercher un produit
		<br> 
		changer un produit <br> 
		ajouter un produit <br> 
		<br> 
-> gerer mes catégories de l"gumes
		modifier une catégorie de légumes<br> 
<br> 
-> gerer les news
		Modifier les news <br> 
	<br> 
	-> gerer les recettes
		Ajouter une recette <br> 
		Modifier un Recette <br> 
<br> 
-> Suivit des commandes 
	* les commandes en cours pas encore finalisées (préparées)
	 
	->Voir les données civiles des utilisateurs 
	Pouvoir ajouter des clients 

<br> 
</div>
{% endblock %}

{% block js %}

{% endblock %}
