{# src/Administrator/Adminstration/AdminBundle/Resources/views/previsualisation.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
 Prévisualisation
{% endblock %}

{% block body %}
  <div class="container whiteBloc">
    {% for m in mail %}
      {{m.0|raw}}
      {{asset(m.1)}}
      {{m.2|raw}}<br/>
    {% endfor %}
    <input type="submit" name="valider" value="Valider" id="form_suivant" class="bouton"/>
    <input type="submit" name="modifier" value="Modifier" id="form_retour" class="bouton"/>
    <a href="{{path('goadministrator_administration')}}" id="form_annuler"> Annuler </a>
    <br/><br/>
  </div>
{% endblock %}
