{# src/Administrator/Administration/views/Gerer/gererAdminUser.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  
{% endblock %}

{% block title %}
	administration des utilisateurs administrateurs
{% endblock %}

{% block body %}
  <H1>administrateur</h1>
    <div class="blocWhiteOne">
        <form action="{{ path('administrator_administration_admin_gerer_Utilisateur_admin') }}" method="post">
            <table>
                    <tr>
                       <th class="nom">Nom</th>
              			   <th class="prenom">prénom</th>
              			   <th class="login">Login</th>
              			   <th class="Pwd">Mot de passe</th>
              			   <th class="type">Type de compte</th>
              			   <th class="adresse">Adresse</th>
              			   <th class="codePostal">Code Postal</th>
              			   <th class="ville">Ville</th>
              			   <th class="dateNaissance">Date de Naissance</th>
              			   <th class="tel">Numéro de téléphone</th>
                           <th class="email">Email</th>
        			   </tr>
        			   {% for superUser in listeSuperUser %}
                       <tr>
                           <th><input type="radio" name="idUtilisateurs" value="{{ superUser.id }}"</th>
                           <th id="nomth{{loop.index}}">{{ superUser.nom }}</th>
                           <th id="prenomth{{loop.index}}">{{ superUser.prenom }}</th>
                           <th id="pwdth{{loop.index}}">{{ superUser.pwd }}</th>
                           <th id="typeth{{loop.index}}">{{ superUser.type }}</th>
                           <th id="adresseth{{loop.index}}">{{ superUser.adresse }}</th>
                           <th id="codePostalth{{loop.index}}">{{ superUser.codePostal }}</th>
                           <th id="villeth{{loop.index}}">{{ superUser.ville }}</th>
                           <th id="dateNaissanceth{{loop.index}}">{{ superUser.dateNaissance }}</th>
                           <th id="telth{{loop.index}}">{{ superUser.tel }}</th>
                           <th id="emailth{{loop.index}}">{{ superUser.email }}</th>
                      </tr>
                   {% endfor %}
        		</table>	
        </form>       
    </div>
{% endblock %}

{% block js %}

{% endblock %}